@import "../../../custom-palette.scss";

$primary: map-get($custom-palette, 500);
$primary-dark: map-get($custom-palette, 700);
$grey: #536471;

.main-drawer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
}

.drawer-content {
    margin-top: 60px;
}

.grey {
    color: $grey;
}

.username {
    font-size: 16px;
}

app-user-avatar {
    margin-top: 10px;
}

app-search-bar {
    margin-top: 60px;
    margin-left: 30px;
}

app-tool-bar {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.sidebar-link {
    padding-inline: 30px;
    padding-block: 5px;
    font-size: large;

    &.active {
        font-weight: 600;
        color: $primary;
    }

    &:hover {
        border-radius: 12px;
    }

    &.rounded {
        border-radius: 24px;
        padding-inline: 45px;
        &:hover {
            background-color: $primary-dark;
        }
    }
}
