$custom-palette: (
    50 : #e4f3fd,
    100 : #bbe1fb,
    200 : #8ecdf8,
    300 : #61b9f5,
    400 : #3faaf2,
    500 : #1d9bf0,
    600 : #1a93ee,
    700 : #1589ec,
    800 : #117fe9,
    900 : #0a6de5,
    A100 : #ffffff,
    A200 : #dbeaff,
    A400 : #a8ccff,
    A700 : #8fbdff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



