$custom-palette: (
    50 : #e4f3fd,
    100 : #bbe1fb,
    200 : #6A3DE8,
    300 : #6A3DE8,
    400 : #6A3DE8,
    500 : #9676ec,
    600 : #8967e7,
    700 : #7b52eb,
    800 : #5f36d1,
    900 : #6A3DE8,
    A100 : #ffffff,
    A200 : #dbeaff,
    A400 : #6A3DE8,
    A700 : #6A3DE8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



