<div class="confirm-dialog">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
        <div class="title">{{data.title}}</div>
        <div mat-card-subtitle>{{data.subtitle}}</div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" fxFlexFill>
            <button (click)="onResult(true)" mat-flat-button color="primary">{{data.onlyOk? 'Ok': 'Yes'}}</button>
            <button *ngIf="!data.onlyOk" (click)="onResult(false)" mat-button>No</button>
        </div>
    </div>
</div>