@import '../../../../custom-palette.scss';

$primary: map-get($custom-palette, 500);

form {
    margin: 20px;
}

.login-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.mat-card {
    padding: 40px;
    border-radius: 24px;
}

.loading {
    width: 300px;
    height: 400px;
}
