<div class="sign-up">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0px">
        <div class="split-more left">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <button color="primary" mat-flat-button (click)="goBack()">
                    <mat-icon color="white">keyboard_arrow_left</mat-icon>
                </button>
                <h2>Create a new account</h2>
            </div>
            <mat-stepper *ngIf="!loading else loadingTemplate" orientation="vertical" linear="true">

                <!-- step one -->
                <mat-step [stepControl]="stepOneFG" label="Fill out username, email and contact number">
                    <ng-container [ngTemplateOutlet]="stepOneTemplate"></ng-container>
                    <button [disabled]="stepOneFG.invalid" mat-flat-button color="primary" matStepperNext>Next</button>
                </mat-step>

                <!-- step two -->
                <mat-step [stepControl]="stepTwoFG" label="Fill out the basic details">
                    <ng-container [ngTemplateOutlet]="stepTwoTemplate"></ng-container>
                    <div class="margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <button mat-stroked-button matStepperPrevious>Previous</button>
                        <button [disabled]="stepTwoFG.invalid" mat-flat-button color="primary"
                            matStepperNext>Next</button>
                    </div>
                </mat-step>

                <!-- step three -->
                <mat-step [stepControl]="stepThreeFG" label="Your bio and Date of Birth">
                    <ng-container [ngTemplateOutlet]="stepThreeTemplate"></ng-container>
                    <div class="margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <button mat-stroked-button matStepperPrevious>Previous</button>
                        <button [disabled]="stepThreeFG.invalid" mat-flat-button color="primary"
                            matStepperNext>Next</button>
                    </div>
                </mat-step>

                <!-- step four -->
                <mat-step [stepControl]="stepFourFG" label="Password and Security">
                    <ng-container [ngTemplateOutlet]="stepFourTemplate"></ng-container>
                    <div class="margin-submit" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <button mat-stroked-button matStepperPrevious>Previous</button>
                        <button (click)="registerUser()" [disabled]="formGroup.invalid || stepFourFG.invalid"
                            mat-flat-button color="primary" matStepperNext>Submit</button>
                    </div>
                </mat-step>

            </mat-stepper>
        </div>
        <div class="split-less right">
            <img src="../../assets/login-bg.jpg" alt="Login BG" class="login-bg">
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <mat-card class="loading-card">
        <mat-spinner style="margin:0 auto;" [diameter]="32"></mat-spinner>
    </mat-card>
</ng-template>


<ng-template #stepOneTemplate>
    <form [formGroup]="stepOneFG">

        <mat-card-subtitle>Username</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="john123" formControlName="username">
            <mat-error *ngIf="isValid(stepOneFG, 'username')">Please enter a valid username
            </mat-error>
        </mat-form-field>

        <mat-card-subtitle>Email</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <input matInput type="email" placeholder="john123@gmail.com" formControlName="email">
            <mat-error *ngIf="isValid(stepOneFG, 'email')">Please enter a valid email
            </mat-error>
        </mat-form-field>

        <mat-card-subtitle>Phone No.</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <input matInput type="tel" placeholder="" formControlName="phoneNumber">
            <mat-error *ngIf="isValid(stepOneFG, 'phoneNumber')">Please enter a valid phone number
            </mat-error>
        </mat-form-field>

    </form>
</ng-template>

<ng-template #stepTwoTemplate>
    <form [formGroup]="stepTwoFG">

        <mat-card-subtitle>First Name</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="john" formControlName="firstName">
            <mat-error *ngIf="isValid(stepTwoFG, 'firstName')">Please enter a valid first name
            </mat-error>
        </mat-form-field>

        <mat-card-subtitle>Last Name(Optional)</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <input matInput type="email" placeholder="samule" formControlName="lastName">
            <mat-error *ngIf="isValid(stepTwoFG, 'lastName')">Please enter a valid last name
            </mat-error>
        </mat-form-field>

        <mat-card-subtitle>Gender</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <mat-select formControlName="gender">
                <ng-container *ngFor="let option of genderOptions">
                    <mat-option [value]="option.value">{{option.key}}</mat-option>
                </ng-container>

            </mat-select>
            <mat-error *ngIf="isValid(stepTwoFG, 'gender')">Please select a gender
            </mat-error>
        </mat-form-field>

    </form>
</ng-template>

<ng-template #stepThreeTemplate>
    <form [formGroup]="stepThreeFG">

        <mat-card-subtitle>Bio</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <textarea matInput type="text" cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="7"
                placeholder="software developer at ABC" formControlName="bio"></textarea>
            <mat-error *ngIf="isValid(stepThreeFG, 'bio')">Please enter a valid bio
            </mat-error>
        </mat-form-field>

        <mat-card-subtitle>Date of Birth(Optional)</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <input matInput [max]="nowDate" [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="isValid(stepThreeFG, 'dob')">Please enter a valid last date
            </mat-error>
        </mat-form-field>

    </form>
</ng-template>

<ng-template #stepFourTemplate>
    <form [formGroup]="stepFourFG">

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
            <div class="password">
                <mat-card-subtitle>Password</mat-card-subtitle>
                <mat-form-field appearance="fill">
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="isValid(stepFourFG, 'password')">Please enter a valid password
                    </mat-error>

                </mat-form-field>
            </div>
            <div class="password">
                <mat-card-subtitle>Confirm Password</mat-card-subtitle>
                <mat-form-field appearance="fill">
                    <input matInput type="password" pattern="{{stepFourFG.get('password')?.value ?? ''}}"
                        formControlName="confirmPassword">
                    <mat-error *ngIf="isValid(stepFourFG, 'confirmPassword')">Both passwords should be same
                    </mat-error>

                </mat-form-field>
            </div>
        </div>

        <mat-card-subtitle>Security Question</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <mat-select formControlName="securityQn">
                <ng-container *ngFor="let option of securityQNOptions">
                    <mat-option [value]="option">{{option}}</mat-option>
                </ng-container>

            </mat-select>
            <mat-error *ngIf="isValid(stepFourFG, 'security')">Please select a security question
            </mat-error>
        </mat-form-field>

        <mat-card-subtitle>Security Answer</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <input matInput type="text" formControlName="securityAns">
            <mat-error *ngIf="isValid(stepFourFG, 'securityAns')">Please enter a valid security answer
            </mat-error>
        </mat-form-field>

        <mat-card-subtitle>
            <mat-checkbox color="primary" formControlName="terms" class="example-margin">Please agree to the terms and
                conditions.
            </mat-checkbox>
        </mat-card-subtitle>
        <mat-error *ngIf="isValidCheckbox()">Please click the checkbox
        </mat-error>

    </form>
</ng-template>