.sign-up {
    h2 {
        margin-block: 40px;
        color: #536471;
    }

    .loading-card {
        min-width: 300px;
        height: 400px;
        mat-card {
            height: 100%;
        }
    }

    .split-more {
        width: 60%;
        overflow-y: hidden;
    }

    .split-less {
        width: 30%;
        overflow-x: hidden;
        position: fixed;
    }

    .left {
        padding: 0;
        left: 0;
        margin-left: 45px;
        margin-right: 30px;
    }

    .right {
        padding: 0;
        right: 0;
    }

    .login-bg {
        background-size: cover;
        height: 100%;
    }

    mat-card-subtitle {
        margin-top: 5px;
        margin-bottom: 10px;
        display: block;
    }

    .margin {
        margin-top: 10px !important;
    }
    .margin-submit {
        margin-top: 30px !important;
    }
}
