<div class="login-image">
    <img src="../../../assets/login-bg.jpg" alt="Login BG" class="login-bg">
</div>

<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card>
        <mat-card-content class="form-content" *ngIf="!loading else loadingTemplate">
            <div fxLayout="row" fxLayoutAlign="space-between" fxFlexFill>
                <h2>Login</h2>
                <div>
                    <img src="../../../assets/icon-192.png" alt="logo" height="28" width="28">
                </div>
            </div>
            <mat-card-header color="primary">
            </mat-card-header>
            <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChanged($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="person-tab-icon">person</mat-icon>
                        username
                    </ng-template>
                    <form id="username-tab-form" [formGroup]="unFormGroup" (ngSubmit)="loginUser(0)">
                        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your username</mat-label>
                                <input matInput type="text" placeholder="username" formControlName="username">
                                <mat-error *ngIf="isValid(unFormGroup, 'username')">
                                    Please enter valid username</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="isValid(unFormGroup, 'password')">
                                    Please enter valid password</mat-error>
                            </mat-form-field>

                            <button id="login-um-btn" type="submit" color="primary" [disabled]="unFormGroup?.invalid"
                                mat-stroked-button>Login</button>
                        </div>
                    </form>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="email-icon">email</mat-icon>
                        email
                    </ng-template>
                    <form id="email-tab-form" [formGroup]="emFormGroup" (ngSubmit)="loginUser(1)">
                        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px">

                            <mat-form-field appearance="fill">
                                <mat-label>Enter your email</mat-label>
                                <input matInput type="email" placeholder="tom@gmail.com" formControlName="email">
                                <mat-error *ngIf="isValid(emFormGroup, 'email')">
                                    Please enter valid email</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="isValid(unFormGroup, 'password')">
                                    Please enter valid password</mat-error>
                            </mat-form-field>

                            <button id="login-em-btn" type="submit" color="primary" [disabled]="emFormGroup?.invalid"
                                mat-stroked-button>Login</button>

                        </div>
                    </form>
                </mat-tab>

            </mat-tab-group>
            <mat-card-subtitle>
                <a mat-button color="primary" [routerLink]="['/forgot']" class="forgot-password">forgot password?</a>
            </mat-card-subtitle>

            <mat-card-footer>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" fxFlexFill>
                    <h4>- or -</h4>
                    <button [routerLink]="['/sign-up']" mat-flat-button color="primary" class="forgot-password">Sign up
                        instead</button>
                </div>
            </mat-card-footer>
        </mat-card-content>


    </mat-card>
</div>

<ng-template #loadingTemplate>
    <mat-spinner style="margin:0 auto;" [diameter]="64"></mat-spinner>
</ng-template>