<div class="reset-password">
    <ng-container *ngIf="fromLogin else fetchSecQnLoading">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0px">
            <div class="split split-more left">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <button color="primary" mat-flat-button (click)="goBack()">
                        <mat-icon color="white">keyboard_arrow_left</mat-icon>
                    </button>
                    <h2>Forgot Password</h2>
                </div>
                <ng-container *ngTemplateOutlet="fromLoginLoading">
                </ng-container>
            </div>
            <div class="split split-less right">
                <img src="../../assets/login-bg.jpg" alt="Login BG" class="login-bg">
            </div>
        </div>
    </ng-container>
</div>

<ng-template #fetchSecQnLoading>
    <ng-container *ngTemplateOutlet="cardTemplate; context: {$implicit: checkLoading}"></ng-container>
</ng-template>

<ng-template #fromLoginLoading>
    <mat-stepper orientation="vertical" linear="true">
        <mat-step [stepControl]="usernameForm" label="Fill out the username">
            <form [formGroup]="usernameForm">
                <mat-form-field appearance="fill">
                    <input matInput type="text" formControlName="username">
                    <mat-error *ngIf="isValid(usernameForm, 'username')">Please enter valid username</mat-error>
                </mat-form-field>
            </form>
            <button id="fetchSecurityQnBtn" [disabled]="usernameForm.invalid" (click)="fetchSecurityQn()" mat-flat-button color="primary"
                matStepperNext>Fetch Details</button>
        </mat-step>
        <mat-step [stepControl]="formGroup" label="Update the password using security question">
            <ng-container *ngTemplateOutlet="checkLoading"></ng-container>
        </mat-step>
    </mat-stepper>
</ng-template>

<ng-template #cardTemplate let-template>
    <mat-card class="reset-card">
        <mat-card-content>
            <mat-card-title class="card-title">
                <h2>Forgot Password</h2>
            </mat-card-title>

            <ng-container *ngTemplateOutlet="template"></ng-container>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #loadingTemplate>
    <mat-spinner style="margin: auto; margin-top: 60px;" [diameter]="32"></mat-spinner>
</ng-template>

<ng-template #checkLoading>
    <ng-container *ngIf="!loading && securityQn else loadingTemplate">
        <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
    </ng-container>
</ng-template>


<ng-template #formTemplate>
    <form [formGroup]="formGroup" (submit)="onReset()">
        <div class="card-body">
            <mat-card-subtitle>Your Security Question</mat-card-subtitle>
            <p id="securityQn">{{securityQn}}</p>
        </div>
        <div class="card-body">
            <mat-card-subtitle>Your Answer</mat-card-subtitle>
            <mat-form-field appearance="fill">
                <input matInput type="text" name="securityAns" formControlName="securityAns">
                <mat-error *ngIf="isValid(formGroup, 'securityAns')">Please enter a valid security Answer
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
            <div class="password">
                <mat-card-subtitle>New Password</mat-card-subtitle>
                <mat-form-field appearance="fill">
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="isValid(formGroup, 'password')">Please enter a valid password
                    </mat-error>

                </mat-form-field>
            </div>
            <div class="password">
                <mat-card-subtitle>Confirm Password</mat-card-subtitle>
                <mat-form-field appearance="fill">
                    <input matInput type="password" pattern="{{formGroup.get('password')?.value ?? ''}}"
                        formControlName="confirmPassword">
                    <mat-error *ngIf="isValid(formGroup, 'confirmPassword')">Both passwords should be same
                    </mat-error>

                </mat-form-field>
            </div>
        </div>
        <div class="card-body">
            <button id="resetBtn" [disabled]="formGroup.invalid" type="submit" mat-flat-button color="primary">Reset</button>
        </div>
    </form>
</ng-template>