<div class="search-bar" fxFlexFill>
    <form [formGroup]="searchForm" fxFlexFill>
        <mat-form-field appearance="outline">
            <mat-icon class="search-icon" color="primary" matPrefix>search
            </mat-icon>
            <input matInput formControlName="search" type="search" placeholder="search here.." [matAutocomplete]="auto">
        </mat-form-field>
    </form>

    <mat-autocomplete class="searchbar-content" panelWidth="400px" #auto="matAutocomplete">
        <ng-container [ngSwitch]="stage">

            <mat-option disabled="true" *ngSwitchCase="stages.notStarted">
                <ng-container *ngIf="searchText.length == 0">
                    Start typing to search a user
                </ng-container>
                <ng-container *ngIf="searchText.length != 0">
                    Please type more than 3 characters
                </ng-container>
            </mat-option>

            <mat-option disabled="true" *ngSwitchCase="stages.started">
                <mat-spinner style="margin:0 auto;" [diameter]="32"></mat-spinner>
            </mat-option>

            <mat-option disabled="true" *ngSwitchCase="stages.notFound">Not found..</mat-option>

            <ng-container *ngSwitchCase="stages.loaded">
                <mat-option *ngFor="let user of searchResult" [routerLink]="['profile', user.username]">
                    <app-user-info [userCard]="false" [userInfo]="user"></app-user-info>
                </mat-option>
            </ng-container>

        </ng-container>
    </mat-autocomplete>
</div>